<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=videoprokat_winform;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>